<ion-view view-title="About">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                App
            </div>
            <div class="item item-body item-text-wrap">
                 The MyRea app will guide real estate Buyer or Seller from signing a contract until the closing of the deal. The application will act as a person  to person bridge or hot-line, where Real Estate Buyer or Seller is one side and Real Estate Agent is another.
            </div>
            <div class="item item-divider">
                Features
            </div>
            <div class="item item-body item-text-wrap">
			<ul>
				<li><b> &bull; Personalized application name and icon.</b> Installed Application includes real name of the Real Estate Agent e.g. myREA-JohnDoe and her/his picture as an icon. This feature will provide feeling of undivided attention to the Real Estate Client’s needs.</li>
				<li><b> &bull; Registration and login with Facebook, Twitter, Google etc.</b> Application uses oAuth or similar standard. This will simplify authorisation and login.</li> 
				<li><b> &bull; Two modes: Agent and Client.</b> If application is used by Real Estate Agent then application is in the Agent Mode. If application is used by the Real Estate Client then the application is in the Client Mode. Real Estate Client will see only information related to her/his deal. Real Estate Agent will see  information about all her/his clients who is using the application.</li>
				<li><b> &bull; Event Timeline.</b> Application shows the list of the completed and coming events associated with the deal. Real Estate Agent can create, read, update and delete  events, Real Estate Client can read and update events. This is a central feature of the application.</li>
				<li><b> &bull; Event Timeline Templates.</b> The Application provides various template of the closing process based on the type the deal, rules and regulations. Selected template will be selected and assigned by the Real Estate Agent. This will allow to customize the application, so it can be used in the different states and for different types of the deals.</li>
				<li><b> &bull; Call, text, e-mail.</b> Real Estate Agent or Real Estate Client (User) can initiate a phone call, a text message or an e-mail from the application. Actual calling, texting and e-mailing should be completed with the standard mobile device applications. This feature will add communication capabilities to the application. </li>
				<li><b> &bull; Notifications.</b> The Application provides notification to the User on important dates, deadlines, alerts etc., associated with the deal. The source of notifications is the Event Timeline. This feature is to automate control on the deal progress. </li> 
				<li><b> &bull; Recommendations.</b> The Application provides the ability to refer this Real Estate Agent to the Real Estate Client friends and family via social media.</li>
				<li><b> &bull; Help.</b> The Application provides detailed context help for every screen and operation. This feature should make the application more friendly.</li>
				<li><b> &bull; Status.</b> The Application provides overall status of the deal in a form of Green, Amber or Red flag. The Status is the function of the Notification and the Event Timeline. The Status will simplify the understanding of the  status of the deal.</li>
			</ul>
			</div>
		</div>
  </ion-content>
</ion-view>
