<ion-view view-title="Event Details">
	<ion-content>
		<div class="card">
			<div class="item item-body item-text-wrap">
				<h2>{{event.name}}</h2>
				<p>{{event.description}}</p>
			</div>
		</div>
    
    <div class="row">
			<div class="col col-offset-10">
				<h4>Prerequisites</h4>
        <ul class="list">
          <li ng-repeat="prerequisite in event.prerequisites">
            <ion-checkbox ng-checked="prerequisite.isCompleted" ng-model="prerequisite.isCompleted">{{prerequisite.description}}</ion-checkbox>
          </li>
        </ul>
			</div>
		</div>

		<div class="row">
			<div class="col col-offset-10">
				<h4>To Do</h4>
        <ul class="list">
          <li ng-repeat="todo in event.todos">
            <ion-checkbox ng-checked="todo.isCompleted" ng-model="todo.isCompleted">{{todo.description}}</ion-checkbox>
          </li>
        </ul>
			</div>
		</div>
		<div class="row">
			<div class="col col-offset-10">
				<h4>Participants</h4>
					<ion-list>

						<div class="item-avatar" >
							<img ng-src="{{baseURL+leader.image}}">
							<p><strong>Jock Lennox<strong><br>
							<strong><small>Buyer RE Agent</small></strong></p> 
							<div class="item-text-wrap">Rent, buy, or sell property for clients. Perform duties, such as study property listings, interview prospective ...</div>
							<div class="button-bar">
							   <a class="button button-positive button-small icon ion-android-call"></a>
							   <a class="button button-assertive button-small icon ion-android-mail"></a>
							   <a class="button button-energized button-small icon ion-android-chat"></a>
							</div>
<br>							
						</div>
					</ion-list>
			</div>
		</div>

  </ion-content>
</ion-view>
